/charts
code/.Rproj.user/0023D16C/jobs/A8BBE60D-output.json
code/.Rproj.user/0023D16C/pcs/debug-breakpoints.pper
code/.Rproj.user/0023D16C/pcs/files-pane.pper
code/.Rproj.user/0023D16C/pcs/find-replace-in-files.pper
code/.Rproj.user/0023D16C/pcs/source-pane.pper
code/.Rproj.user/0023D16C/pcs/windowlayoutstate.pper
code/.Rproj.user/0023D16C/pcs/workbench-pane.pper
code/.Rproj.user/0023D16C/rmd-outputs
code/.Rproj.user/0023D16C/saved_source_markers
code/.Rproj.user/0023D16C/sources/prop/08BF2953
code/.Rproj.user/0023D16C/sources/prop/0A39CE9C
/code/.Rproj.user
/code/misc_programs
code/unused_functions.csv
code/vs_code/create_sample
/data
JDS_manuscript/asa.bst
JDS_manuscript/jds.bst
JDS_manuscript/Makefile
JDS_manuscript/jdsart.cls
JDS_manuscript/manuscript.pdf
JDS_manuscript/manuscript.synctex.gz
JDS_manuscript/original_manuscript.pdf
JDS_manuscript/original_manuscript.synctex(busy)
JDS_manuscript/original_manuscript.synctex.gz
JDS_manuscript/README
code/function_usage_details.csv
code/function_usage_details.csv
code/function_usage_summary.csv
code/function_usage_details.csv
code/function_usage_details.csv
/misc
/analytics
JDS_data_cleansing_manuscript/jds.bst
JDS_data_cleansing_manuscript/jdsart.cls
JDS_data_cleansing_manuscript/manuscript.synctex.gz
JDS_data_cleansing_manuscript/original_manuscript.synctex(busy)
JDS_data_cleansing_manuscript/original_manuscript.synctex.gz
JDS_data_cleansing_manuscript/original_manuscript.pdf
JDS_data_cleansing_manuscript/supplemental_materials.aux
JDS_data_cleansing_manuscript/supplemental_materials.lof
JDS_data_cleansing_manuscript/supplemental_materials.log
JDS_data_cleansing_manuscript/supplemental_materials.lot
JDS_data_cleansing_manuscript/supplemental_materials.out
JDS_data_cleansing_manuscript/supplemental_materials.pdf
JDS_data_cleansing_manuscript/supplemental_materials.synctex(busy)
JDS_data_cleansing_manuscript/supplemental_materials.toc
JDS_data_cleansing_manuscript/manuscript/.Rhistory
JDS_data_cleansing_manuscript/manuscript/jds.bst
JDS_data_cleansing_manuscript/manuscript/jdsart.cls
JDS_data_cleansing_manuscript/manuscript/supp.aux
JDS_data_cleansing_manuscript/manuscript/supp.log
JDS_data_cleansing_manuscript/manuscript/supp.out
JDS_data_cleansing_manuscript/manuscript/supp.pdf
JDS_data_cleansing_manuscript/manuscript/supp.synctex.gz
JDS_data_cleansing_manuscript/manuscript/supplemental_images/dst_start_affected_records.csv
manuscript/jds.bst
manuscript/jds.bst
manuscript/jdsart.cls
manuscript/.Rhistory
code/.Rhistory
manuscript/supp.aux
manuscript/supp.log
manuscript/supp.out
manuscript/supp.pdf
manuscript/supp.synctex.gz
manuscript/supplemental_images/dst_start_affected_records.csv
